.header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	padding: 10px;
	height: 15vh;
}

.logo {
	background-image: url(../images/logo.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 20vh;
}

li {
	list-style: none;
	text-align: center;
	grid-gap: 2px;
	padding: 10px;	
	color: #03C9FF;
	border: 3px #03C9FF solid;
	font-family: Bebas Neue;
}

ul {
	padding: 0px;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(2, 1fr);
}

a {
	text-decoration: none;
}

body {
	background-image: url(../images/about.jpg);
	background-size: cover;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr; 
	grid-gap: 10px;
}

.box1, .box2 {
	border: 3px #03C9FF solid;
	height: 30vh;
	padding: 10px;
	font-family: Bebas Neue;
	color: #03C9FF;
	font-size: 21px;
}

.giant {
	height: 55vh;
	margin-bottom: 10px;
}

video {
	height: 55vh;
	position: absolute;
    left: 50%;
    transform:translateX(-50%);
}

.box1 {
	background-image: url(../images/about2.jpg);
	background-size: cover;
	background-position: center;
}